.background{
  background: url("./Images/bgc.jpg") no-repeat center center fixed ;
  background-size: cover;
  height: 100vh;
}


.login{
  width: 25%;
  position: absolute;
  right: 0;
}

.btn{
  border-radius: 20px;
 
}

.travel{
  height: 500px;
  display: block;
  margin:10px auto;
  
}
.signup{
  margin-top: 30px;
  width: 40%;
  background-color: #abc2e8;
  padding : 15px;
}